<!-- templates/receiving_webrtc.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receiving Stream with WebRTC</title>
</head>
<body>

    <h1>Receiving Stream with WebRTC</h1>

    <video id="remoteVideo" width="720" height="480" autoplay></video>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        const socket = io.connect('http://127.0.0.1:5000');

        const remoteVideo = document.getElementById('remoteVideo');

        socket.on('receive_stream', (stream) => {
          console.log("Connect Server!");

          // const mediaStream = new MediaStream();
          // mediaStream.addTrack(stream.getVideoTracks()[0]);
          // remoteVideo.srcObject = mediaStream;
          try{
            if(stream instanceof MediaStream){
              remoteVideo.srcObject = stream;
            }
            else{
              console.error("Invaild stream object:", stream);
            }
            
          }catch (error){
            console.error("Error setting srcObject:", error);
          }
          
        });
    </script>

</body>
</html>
